body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header
{
    padding-top: 30px;
    min-height: 70px;
}

header ul 
{
    margin: 0;
    padding: 0;
}

header ul li 
{
    display: inline;
    float: left;
    padding: 0 10px 0 10px;
}

header a
{
    text-decoration: none;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 20;
    color: black;
    padding: 10px;
}

header #branding
{
    float: left;
}

header nav
{
    float: left;
    margin-top: 10px;
}

header a:hover:not(.active), header .current a
{
    color: #56B9C1;
}

#welcomeBox
{
    min-height: 700px;
    /* height: 100vh; */
    width: 100%;
    background-image: url('../hkaras19.github.io/images/whiteBoard.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

#titleBox
{
    height: auto;
    width: 40%;
    padding: 10px;
    /* text-align: center; */
    background-color: rgba(138, 128, 127, 0.85);
    border-radius: 10px;
    border: 3px solid white
}

.welcomeImage
{
    height: 100vh;
    width: 100%;
    background-image: url('../hkaras19.github.io/images/whiteBoard.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.box2
{
    padding-right: 20px;
    height: auto;
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

.box3
{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(morning.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}




#headerCustom1
{
    font-family: 'Abril Fatface';
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0px;
}

#headerCustom2
{
    font-family: 'Abril Fatface';
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin: 0px;
}

/* .navBar
{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: white;
    align-items: center;
    margin-top: 0;
    margin-left: 20px;
}

ul 
{
    margin: 0;
}

ul li 
{
    display: inline;
    list-style-type: none;
}

ul li a
{
    text-decoration: none;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 20;
    color: black;
    padding: 10px;
}

ul li a:hover:not(.active) 
{
    color: #56B9C1;
} */

header .logoImage
{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

/* button
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.button
{
    background: #56B9C1;
    color: white;
    width: 240px;
    height: 60px;
    border: 3px solid white;
    font-size: 20px;
    /* font-family: 'Abril Fatface'; */
    font-family: 'Courgette', cursive;
    font-weight: normal;
    border-radius: 10px;
    /* transition: .6s;
    overflow: hidden;
    cursor: pointer; */
    margin-top: 20px;
    text-decoration: none;  
}

.descriptionText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* justify-content: center;
    margin: 0; */
}

.loginBox
{
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    /* top: 50%;
    bottom: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; */
}

.loginForm
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 40px
}

input[type="radio"]
{
    type: checkbox;
}

.loginForm input[type = "text"], .loginForm input[type="password"]
{
    border: 3px solid #56B9C1;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    height: 15px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.loginForm input[type = "text"]:focus, .loginForm input[type="password"]:focus
{
    width: 280px;
    border-color: #2ecc71;
}

.loginForm h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

/* .loginForm input[type = "submit"] */
.loginButton
{
    border: 2px solid #2ecc71;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    width: 100px
    height: 15px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

table, th, td 
{
    border: 1px solid black;
    margin: 30px;
  }

/* .loginForm input[type = "submit"]:hover */
.loginButton:hover
{
    background: #2ecc71;
}


/* .button::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #56B9C1;
    z-index: -1;
    transition: 0.6s;
    top: 0;
    border-radius: 0 0 50% 50%
}

.button:hover::before
{
    height: 180%;
} */

.hunterNickIMG
{
    height: 300px;
    width: 450px;
    margin: 25px;
    border-radius: 10px;
}

.workRoomIMG
{
    height: 550px;
    width: 320.5px;
    margin: 25px;
    border-radius: 10px;
}

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    margin-top: 15px;
    color: black;
    overflow: hidden;
}

.purchaseFormBox
{
    background: grey;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.purchaseBackground
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(icon.png)
}

#individualChatForm
{
    /* display: none; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

#privateOrganizationForm
{
    display: none;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

#communityForm
{
    display: none;
    /* justify-content: left;
    align-items: center;
    flex-direction: column; */
}

#purchaseTypeForm
{
    display: inline;
    /* justify-content: left;
    align-items: left;
    flex-direction: column; */
    
}

input[type="text"]
{
    width: 200px;
    height: 25px;
    
}

#stripeForm
{
    display: none;
}

/* 
input[type="radio"]:before
{
    -webkit-appearance: checkbox;
    background: white;
} */

/* .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  } */

  /* .createButtons
  {
      width: 100px;
      height: 
  } */

@media(max-width: 768px)
{
    header
    {
        padding: 20px;
    }

    header #branding,
    header nav,
    header nav li
    {
        float: none;
        text-align: center;
        width: 100%;
    }

    .box2, .box3
    {
        flex-direction: column;
        align-items: center;
    }
}